
:root{
    --cam: #F8843D;
    --light-blue:#3c5398;
    --dask-blue: #223771;
    --light-gray: #f0f3fd;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.flexs{
    display: flex;
    justify-content: space-between;
}
.left-sidebar{
    width: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.sidebar-menu{
    position: absolute;
    top: 15%;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
}
.menu-item:hover{
    color: var(--cam);
}
.content-page{
    width: 87%;
    display: flex;
    flex-direction: column;
}
.content-top{
    width: 100%;
    height: 6%;
    display: flex;

}
.content-bottom{
    background-color:white;
    height: 855px;
    overflow: auto;
}
.search{
    margin-left: auto;
    position: relative;
    width: 480px;
    margin-right: 30px;
}
.search i{
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
} 
.search-form{
    width: 100%;
    display: block;
    height: 35px;
    background-color: var(--light-blue);
    border: solid 1px var(--light-blue);
    border-radius: 100px;
    color: white;   
    padding-left: 20px;
    padding-right: 50px;
    margin-top: 10px;
}
.acc{
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    width: 250px;
    color: white;
    align-items: center;
    position: relative;
}
.acc i:hover{
    color: var(--cam);
}
.acc-dow{
    cursor: pointer;
}
.acc-dow:hover{
    color: var(--cam);
}
.user-drop{
    position: absolute;
    display: none;
    width: 200px;
    height: 40px;
    background-color: var(--dask-blue);
    top: 29px;
    list-style: none;
    right: 0px;
    cursor: pointer;
    border: 0px solid var(--dask-blue);
    border-radius: 0 0 10px 10px;
    margin: 20px 0;
}
.user-drop:hover{
    color: var(--cam);
}
.dropdown-item:hover{
    color: var(--cam);
}
.content-bottom{
    background: linear-gradient(to right, var(--light-gray), var(--light-blue));
    border-radius: 20px;
}
.content-bottom{
    display: flex;
    flex-wrap: wrap;
}
.CLB-item{
    width: 250px;
    height: 300px;
    background-color: var(--dask-blue);
    position: relative;
    border-radius: 20px;
    cursor: pointer;
    margin: 40px 30px;
    display: flex;
    justify-content: center;
    border: #0f0f0f solid 1px;
}


.CLB-itme-img img{
    width: 180px;
    height: 80%;
    margin-top: 20px;
    border-radius: 10px;
}
.CLB-item span{
    position: absolute;
    color: white;
    bottom: 0px;
    font-weight: bold;
}
.CLB-item:hover span{   
    color: var(--cam);
}
#pagination-container{
    display: flex;
    justify-content: center;
}

#pagination-container a{
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
}
#pagination-container a:hover{
    color: var(--cam);
}



/* DK vs Delete */
.DK{
    width: 100px;
    height: 40px;
    background-color: var(--light-blue);
    position: absolute;
    bottom: -45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    border: 1px solid #3c5398;
}
.DK:hover{
    background-color:var(--cam) ;
}