.content-bottom{
    overflow:auto;
    height: 855px;
    position: relative;
}
.event-title{
    width: 80%;
    margin: 30px 10%;
    background:whitesmoke;
    display: flex;
    flex-wrap: wrap ;
    border-radius: 20px;
    border: 1px solid darkblue;
    overflow: hidden;
    position: relative;
}
.event-club{
    display: flex;
    align-items: center;
    position: relative;
}

.club-img{
    width: 150px;
    margin-right: 30px;
}
.club-img img{
    width: 100%;
    height: 150px;
    border-radius: 50%;
}
.dkevent{
    position: absolute;
    left: 900px;
    display: flex;
    top: 80px;
}
.dkevent-btn{
    width: 150px;
    height: 60px;
    border-radius: 25px;
    background-color: #223771;
    color: white;
    font-size: 20px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.dkevent-btn:hover{
    background-color: #F8843D;
    color: white;
}
.event-content{
    font-size: 30px;
    margin: 10px;
    overflow: hidden;
}
.content-text {
    overflow: hidden;
    height: 72px; /* hoặc bất kỳ chiều cao nào bạn muốn */
    transition: height 0.5s;
}

.show-more {
    cursor: pointer;
    color: black;
}
.show-more:hover {
    text-decoration: underline;
}

.expanded {
    height: auto;
}
#image-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.TV{
    width: 200px;
    height: 60px;
    border-radius: 25px;
    background-color: #223771;
    color: white;
    font-size: 20px;
}
.TV:hover{
    background-color: #F8843D;
    color: white;
}
.DSTV{
    width: 800px;
    height: auto;
    background-color:#223771;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: white;
    display: none;
}
.TVTB{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 10px;
    color: white;
}
.TVTB tr{
    height: 50px;
    display: table-row;
}
.TVTB th ,.TVTB td {
    padding: 8px;
}

